.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60rem;
  max-width: 60%;
  margin: 5% 20%;
}

.content-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  justify-content: space-between;
}

.content-container p {
  padding: 2rem 0;
  text-align: center;
}

.main-button {
  background-color: var(--accent-dark-red);
  text-align: center;
  max-width: 245px;
}

@media (min-width: 600px) {
  .content-container {
    margin: 5% 35%;
  }

  .content-container section {
    padding-bottom: 8rem;
  }
}
